<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  Sikik Şafak
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <nav>
    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <a mat-button class="menu-button" routerLink="/outages">
      <mat-icon>info</mat-icon>
      <span>Outages</span>
    </a>
      <a mat-button class="menu-button" routerLink="/subscribe">
      <mat-icon>info</mat-icon>
      <span>Subscribe</span>
    </a>
    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      Şafağın home'u
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<main class="main-content">
  <router-outlet></router-outlet>
</main>
